<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.racingapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon_img"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_img"
        android:supportsRtl="false"
        android:theme="@style/Theme.RacingApp">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMNmW3UeXfgKU4YERnUNEwtHCSCPIuPhI" />

        <activity
            android:name=".RecordsActivity"
            android:exported="false" />
        <activity
            android:name=".GameActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MusicService" />
    </application>

</manifest>